[submodule "vendor/fsmr"]
	path = vendor/fsmr
	url = https://github.com/fasrc/fsmr.git
[submodule "vendor/libdftw"]
	path = vendor/libdftw
	url = https://github.com/fasrc/libdftw.git
        branch = skip-subtree
[submodule "vendor/libcircle"]
	path = vendor/libcircle
	url = https://github.com/fasrc/libcircle.git
[submodule "vendor/mapreduce"]
	path = vendor/mapreduce
	url = https://github.com/fasrc/mapreduce.git
